*{
  margin: 0;
  padding: 0;
  font-size:  20px
}

h1 {
  font-size: 25px;
}



.App-header {
  background-color: #34A5DA;
  min-height: 85px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.home{
  margin-left: 60px;
  margin-bottom:11px;
}

.fill{
  width: 100%;
  height: calc(100vh - 85px);
  /* padding: 100px; */
  background-color: #222222;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.card{
  width: 100%;
  height: 400px;
  background-color: #ebebeb;

  display: flex;
  flex-direction: column;
}

#card-id{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#info{
  /* background: #34A5DA; */
  padding-left:60px;
}

#name-title{
  font-size: 33px;
  margin-bottom: 25px;
}

#name-title>span{
  border-bottom: 2px solid #34A5DA; 
}

#list-title{
margin-top: 23px
}

.list-item{
  margin-left: 50px 
}

.nav{
  font-weight: 750;
  width: 100%;
  height: 60px;
  /* background-color: rgb(18, 214, 188); */
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav>div{
  display: flex;
}

.button{
  padding: 5px 10px;
  margin: 0 7px;
  background: #34A5DA;
  border-radius: 15px;
}
